body {
  margin: 0;
  box-sizing: border-box;
 
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.background {  
  margin: 0;
  padding: 0;
  background-image: url('../public/images/create-post-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.form{
  text-align: justify;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin: 5vh 24vw;
  padding-bottom: 10vh;
 
}

.form h3{
  text-align: center;
  font-size: 25pt;
  padding-top: 10vh;
}

.form label {
  text-align: left;
  font-size: 20pt;
  width: 50vw;
  height: 10vh;
  margin: 10vh 0;
}

.form input {
  width: 50vw;
  height: 5vh;
  font-size: 13pt;
  opacity: 0.5;
  border-radius: 5px;

}

.form input:focus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.274);;
  border-radius: 10px;
  border-color: transparent;
  opacity: 0.8;
}

.textareaLabel {
  margin: 3vh 5vh 0 0;
}

.form textarea {
  width: 50vw;
  height: 40vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13pt;
  opacity: 0.5;

  -webkit-transition: height .35s ease-in-out;
  transition: height .35s ease-in-out;
}

.form textarea:focus {
  height: 45vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.274);;
  border-radius: 10px;
  border-color: transparent;
  opacity: 0.9;
  
  

  }

  .form button {
    width: 10vw;
    height: 5vh;
    
    border-radius: 10px;
    border-color: transparent;
    
    background-color: darkcyan;
    color: #333;
    font-size: 15pt;
    font-weight: bold;
    margin-left: 20vw;
  }
  
  .form button:hover {
  cursor: pointer;
  background-color: #333;
  color: whitesmoke;
  border-radius: 10px;
  }

  nav {
    position: fixed;
    top: 0;
    margin: 0;
    width: 100vw;
  }
nav ul {
  position:relative;
  margin: auto;

}

ul {
  list-style-type: none;
  margin: 0;
  padding-bottom: 1vh;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
  margin: 0;
  padding:0;
}

nav li a {
  display: block;
  position: relative;
  top: 8px;

  text-decoration: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  text-align: center;
  padding: 14px 16px;
  
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color:darkcyan;
  border-radius: 10px;
  color: #333;
}
#home {
  padding-right: 60vw;
  padding-bottom: 1vh;
  margin: auto;

  text-align: justify;
  font-display:inherit;
  font-size: 20px;
  font-weight: bold;
  font-style: bold;

}
#greeting {
  position: fixed;
  right: 30vw;
  top:1vh;

  margin-right: 5vw;
  color:darkcyan;
  font-family: monospace;
  font-size: 15pt;
  font-weight: bold;
  
}
#greeting:hover{
  color:whitesmoke;
}

.footer{
   position: fixed;
   width: 100vw;
   height: fit-content;
   
   bottom: 0;
   
   color: white;
   font-size: 12pt;
   text-align:center;
  
   margin:0;
   padding:0;
   background-color: #333;

 }

 div .login {
   width: 100vw;
   height: 100vh;
   background-image: url('../public/images/modern-desk-white.jpg');
   background-size: cover;
   background-position: center;
   
 }

 .login form {
  
  text-align: justify;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;

  position: relative;
  top: 15vh;
  
  margin: auto;
  padding: 15vh 5vw;
  border: 7px solid darkcyan;
  border-radius: 15px ;

  width: 22vw;
  height: 20vh;
 }

 .login h3 {
  position: absolute;
  left: 36.5%;
  top: 20vh;
  left: 44vw;

  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 20pt;
  padding: 2vh;
  margin: 2vh;

}

 .login label {
  text-align: left;
  font-size: 15pt;
 
  width: 50vw;
  height: 10vh;
 
  margin: 10vh 0;
}

.login input {
  width: 100%;
  height: 3vh;
  font-size: 10pt;
  border-radius: 5px;

 }

.login input:focus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.274);;
  border-radius: 10px;
  border-color: transparent;
  opacity: 0.8;
}

 .login button {
  width: 8vw;
  height: 5vh;
  position: absolute;
  left: 14.5vw;
  
  border-radius: 10px;
  border-color: transparent;
  
  background-color: darkcyan;
  color: #333;
  font-size: 12pt;
  font-weight: bold;
 
  margin-top: 5vh;
  margin-left: 5vw;
}

 .login button:hover{
  cursor: pointer;
  background-color: #333;
  color: whitesmoke;
  border-radius: 10px;
  border-color: rgb(0, 184, 184);
  border-width: 3px;
  }


  div .register {
    width: 100vw;
    height: 100vh;
    background-image: url('../public/images/create-modern-post.jpg');
    background-size: cover;
    background-position: center;
    
  }
 
  .register form {
   
   text-align: justify;
   font-size: 2rem;
   font-family: Arial, Helvetica, sans-serif;
 
   position: relative;
   top: 15vh;
   
   margin: auto;
   padding: 15vh 5vw;
   border: 7px solid darkcyan;
   border-radius: 15px ;

   background-color: #333;
   opacity: 0.7;
 
   width: 22vw;
   height: 20vh;
  }
 
  .register h3 {
   position: absolute;
   left: 36.5%;
   top: 3vh;
   left: 7vw;
 
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(0, 207, 207);
   font-size: 20pt;
   padding: 2vh;
   margin: 2vh;
 }
 
  .register label {
   text-align: left;
   font-size: 15pt;
   color: rgb(0, 207, 207);
  
   width: 50vw;
   height: 10vh;
  
   margin: 10vh 0;
 }
 
 .register input {
   width: 100%;
   height: 3vh;
   font-size: 10pt;
   border-radius: 5px;
 
  }

  .register input:focus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.274);
    border-radius: 10px;
    border-color: transparent;
    opacity: 0.8;
  }
 
  .register button {
   width: 8vw;
   height: 5vh;
   position: absolute;
   left: 14.5vw;
   
   border-radius: 10px;
   border-color: transparent;
   
   background-color: rgb(0, 207, 207);
   color: #333;
   font-size: 12pt;
   font-weight: bold;
  
   margin-top: 2vh;
   margin-left: 5vw;
 }
 
  .register button:hover{
   cursor: pointer;
   background-color: #333;
   color: rgb(0, 207, 207);
   border-radius: 10px;
   border-color:rgb(0, 207, 207) ;
   }

  


   div .details {
    width: 100vw;
    height: 100vh;
    background-image: url('../public/images/create-post.jpg');
    background-size: cover;
    background-position: center;
    
  }
  .details h3 {
   position: absolute;
   top: 10vh;
   left: 44vw;
 
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   color: darkcyan;
   font-size: 30pt;

   width: 50vw;
   height: 2.5vh;
   padding: 2vh;
   margin: 2vh;
   overflow-y:auto;
 
 }

 
 .details ul {
 display: block;
 position: absolute;
 top: 83vh;
 right: 27vw;
 margin: 0; 
  padding-bottom: 1vh;
 
  background-color: transparent;

 list-style-type: none; 
  overflow: hidden;

 }
 
.details li {
  float: left;
  margin: 0;
  padding: 1vw;
  height: 3vh;
  width: 7vw;;
}
 

.details ul li a {
  
  position: relative;
  top: 8px;
  padding: 1.5vh;
  text-decoration: none;
  text-align: center;
 color:darkcyan;
 font-weight: bold;
 font-size: 13pt;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

  .details li a:hover{
   cursor: pointer;
   color: darkcyan;
   background-color: white;
     border-color: darkcyan;
    border-radius: 10px;
    border-width: 10px;
    text-decoration: underline;
   }


   .details section{
     position: absolute;
     top: 20vh;
     left: 45vw;
     width: 50vw;
     height: 60vh;

     background-color: rgb(70, 129, 129);
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.274);
     border-radius: 15px;
     color: whitesmoke;
     text-align: justify;
     font-size: 20pt;
     opacity: 0.8;

     padding: 1vw;
     overflow-y: auto;
     
   }
   /* div .onePost{
     position: absolute;
     top: 15vh;
     left: 10vw;

     width: 30vw;
     height: 50 vh;
     border:4px solid tomato;
     padding: 1vh;
     margin: 1vh;

     font-family: Arial, Helvetica, sans-serif;
   }

  .onePost h4{
     font-size: 12pt;
   }

   .onePost span {
     font-size: 12pt;
     font-style: italic;
   }

   .onePost article {
   
   } */

   .grid-container {
   
    position:relative;
    top:7vh;

    overflow-y: scroll;

    text-align: center;
    border-radius: 4px;

    background-image: url('../public/images/retro-homePage.jpg');
    background-size: cover;

    margin: auto;
    padding: 0;
    height: 91vh;
  }
  
  .grid-container > div {
    
    
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.8));
    border: 1px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);

    
    text-align: justify;
    font-size: 30px;
    
    display: block;
    float: left;
    width: 29vw;
    height: 37vh;
    
    margin: 1.8vw;
 
  }

  .onePost > .author {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: rgba(183, 224, 224, 1);
    text-align: right;
    padding: 1%;
    margin: 1%;
  }

  .onePost > div> .onePostTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    color: lightseagreen;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  .onePost>div>article {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: aliceblue;
    text-align: left;
    font-weight: normal;
    
    display: block;
    width: 27vw;
    height: 13vh;
    margin: auto;
    padding: 3%;

    overflow: hidden;

  }

  .onePost > .likeButton {

    margin-top: 4vh;
  }


  .onePost> div>button > a {
  
    font-size: 16pt;
    color: aliceblue;
    background-color:transparent;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
    
  .onePost> div> button {
    background-color: transparent;
    border-radius: 10px;
    position: relative;
    left: 1vw;
  }

  .onePost> div> button:hover {
  background-color: lightseagreen;
  color: aliceblue;

  }



  .onePost> div> span {
    
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    color: darkcyan;
    font-style: italic;
    padding: 2vw;

  }
